<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="/css/common.css" >
  </head>

    <%- include('../partials/index') %>

    <div class="slide">
        <button class="prev" type="button" style="width:30px;height:60px">&#10094;</button>
        <ul>
            <li><img src="https://cdn.pixabay.com/photo/2020/11/08/10/25/dog-5723334_1280.jpg" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://cdn.pixabay.com/photo/2020/10/24/03/09/street-5680458_1280.jpg" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://cdn.pixabay.com/photo/2020/04/16/02/44/dandelion-5048825_1280.jpg" width="600px"
                    height= "340px" alt="" /></li>
            <li><img src="https://cdn.pixabay.com/photo/2020/04/04/17/06/street-5003132_1280.jpg" width="600px"
                     height= "340px" alt="" /></li>
            <li><img src="https://cdn.pixabay.com/photo/2020/11/08/16/57/forest-5724397_1280.jpg" width="600px"
                     height= "340px" alt="" /></li>
        </ul>
        <button class="next" type="button" style="width:30px;height:60px">&#10095;</button>
    </div>

  </body>
</html>
